*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/*navbar*/
header{
    background-image:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("img/netflix-bg-img.jpg");

    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 130px ;
}
.logo{
    background-image: url("img/netflix-logo.png");
   background-size: cover;
   background-position: center;
    height: 100px;
    width: 150px;
margin-left: 100px;
cursor: pointer;
}
.nav-selector{
    display: flex;
    align-items: center;
    gap: 15px;
    margin:0 0 0 -12px;
}
.find-select{
    background: transparent;
    color: white;
    border-radius: 5px;
    padding: 0 10px 0 30px;
    width: 120px;
    font-size: 0.9rem;
    cursor: pointer;
    height: 34px;
}
.nav-selector i{
   position: absolute;
    color: white;
    font-size: 12px;
    padding-left: 15px;
}
.btn{
    background-color: red;
    color: white;
text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    height: 30px;
    padding: 6px 0 5px 15px;
}
/*hero section*/

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 80vh;

    color: #FFFFFF;
    text-align: center;
   
}
.hero-head h1{
font-size: 60px;
font-weight: 900;
 margin: 100px 0 8px 0;
 width: 800px;
   line-height: 1.1;
}
.hero-head h3{
    margin: 0 0 16px 0;
}
.hero-msg p{
    font-size: 16px;
}
.hero-input{
text-align: center;
height: 56px;
display: flex;
margin: 20px 0 0 ;
border: none;
cursor: pointer;

}
.hero-input input {
width: 345px;
margin-right: 20px;
padding: 24px 16px 15px;
background: transparent;
color: white;
border-radius: 5px;
font-size: 16px;
}
.hero-input .btn-2{
    width: 200px;
    border-radius: 5px;
     background-color: red;
     font-size: 22px;
     padding: 0 30px 0 0;
     font-weight: 700;
     color: #FFFFFF;
     border: none;
}
.hero-input i{
    position: absolute;
    color: white;
    padding: 20px 0 0 520px;
}
.curve{
    position: relative;
    height: 2800px;
    background: black;
    overflow: hidden;
}

.curve::before{
    content: "";
    position: absolute;

    width: 150%;
    height: 100px;

    left: -20%;
    top: 0;

    border-top: 4px solid #ff004c;
    border-radius: 50%;

    background: radial-gradient(
        ellipse at center,
        rgba(6, 52, 95, 0.66) 0%,
        black 70%
    );

    box-shadow: 0 -20px 50px rgba(0, 0, 255, 0.4);
}
.movie-card{
     display: flex;
    justify-content: space-evenly;
     width: 200px;
    margin-left: 40px;
}
.movie-section h1{
    padding: 150px 0 0 140px;
    color: white;
    font-size: 30px;
}
.box{
    padding: 32px 0 0 50px;
    position: relative;
    overflow: visible;
    transition: all 0.5s ease;
}
.box:hover{
    transform: scale(1.05);
}
.box img{
   height: 300px;
    width: 230px;
    border-radius: 15px;
    cursor: pointer;
}
.number{
position: absolute;
    left: 20px;
top: 100px;
    color: black;
    font-size: 120px;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    z-index: 2;
}
.card-head h1{
    font-size: 25px;
    color: #FFFFFF;
    margin: 30px 0 20px 100px;
}
.card-con{
  color: white;
 display: flex;
 justify-content: space-evenly;
 margin: 0 50px 0 0;
}
.card{
height: 300px;
   width: 350px;
    border: 2px solid transparent;
    text-align: center;
margin: 20px 20px 0 80px;
border-radius: 30px;
padding: 20px 0 0 0;
 background: linear-gradient(
        135deg,
        #1B2246 0%,
        #1A1738 50%,
        #210E17 100%);
transition: all 1s ease;
cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
}
.card h1{
    font-size: 25px;
}
.card p{
    padding: 30px 0 0 0;
}
.ques-head h1{
    color: #FFFFFF;
font-size: 25px;
margin: 50px 0 30px 80px;
}
.form-select{
    height: 70px;
    margin: 10px 0 0 80px;
    width: 90%;
    color: #FFFFFF;
    background-color:#2D2D2D;
    transition: all 1s ease;
    font-size: 25px;
    padding: 0 90px 0 20px;
    cursor: pointer;
}
.form-select:hover{
    background-color: #414141;
}
.form-select .value{
    text-align: center;
}
.again-hero-msg p{
      font-size: 16px;
      color: #FFFFFF;
      align-items: center;
      justify-content: center;
    margin: 70px 0 0 500px;
}
.again-hero-input{
text-align: center;
height: 56px;
display: flex;
margin: 20px 0 0 ;
border: none;
cursor: pointer;
margin: 70px 0 0 300px;

}
.again-hero-input input {
width: 650px;
margin-right: 20px;
padding: 24px 16px 15px;
background: transparent;
color: white;
border-radius: 5px;
font-size: 16px;
}
.again-hero-input .btn-2{
    width: 200px;
    border-radius: 5px;
     background-color: red;
     font-size: 22px;
     padding: 0 30px 0 0;
     font-weight: 700;
     color: #FFFFFF;
     border: none;
}
.again-hero-input i{
    position: absolute;
    color: white;
    padding: 20px 0 0 830px;
}
/*footer*/
footer{
   color: #B3B3B3;
     
}
.for-call p{
    font-size: 0.8rem;
    margin: 80px 0 90px 180px;
    cursor: pointer;
}
.FAQ{
    display: flex;
color: #B3B3B3;
font-size: 0.8rem;
justify-content: space-evenly;
margin: 20px 200px 30px 0;
}
.FAQ p{
padding: 25px 0 0 0;
text-decoration: underline;
cursor: pointer;
}
.again-nav-selector{
    display: flex;
    align-items: center;
     margin: 80px 0 90px 180px;
}
.again-find-select{
    background: transparent;
    border-radius: 5px;
    padding: 0 10px 0 30px;
    width: 120px;
    font-size: 0.9rem;
    cursor: pointer;
    height: 34px;
}
.again-nav-selector i{
   position: absolute;
   color: #B3B3B3;
    font-size: 12px;
    padding-left: 15px;
}
.extra-indent{
margin: 80px 0 90px 180px;
}
.extra-indent h6{
font-size: 0.8rem;
}
.extra-indent p{
    font-size: 0.7rem;
    margin-top: 50px;
}

